@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

header {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0 156px;
    height: 72px;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 1px 6px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 2px 1px 0px #2E2F4214;
}


.logo img {
    max-height: 24px;
    display: flex;
    align-items: center;
}

nav {
    height: 72px;
    margin-left: 76px;
    display: flex;
    align-items: center;
    flex: 1;
}


.navbar-link {
    color: #2E2F42;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    margin-right: 40px;
    transition: 0.2s;
}

.navbar-link.active::after {
    content: "";
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    left: 0;
}

.navbar-link.active {
    color: #404BBF;
}

#burger-close-btn {
    display: none;
}

.user-info {
    right: 0;
    display: flex;
    flex-direction: row;
}


.user-info__field {
    text-decoration: none;
    margin-left: 40px;
    color: #434455;
}

#email:hover {
    color: #404BBF;
    transition: 0.2s;
}

/*.intro {
    position: relative;
    background: url("../img/intro.png") center/cover no-repeat;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.70);
}

.intro-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/
.intro-content h2 {
    margin-bottom: 48px;
}

.intro-content__title {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 56px;
}

.main-submit__btn {
    width: 169px;
    height: 56px;
    background: #4D5AE5;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000026;
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.70);
}

.intro {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.intro-image {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    max-width: 100%;
    min-height: 100%;
}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro-content {
    position: absolute;
    z-index: 1;
    text-align: center;
}


.main-submit__btn:hover {
    background-color: #404BBF;
    transition: 0.2s;
}

/**/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .3);

    display: grid;
    align-items: center;
    justify-content: center;

    overflow-y: auto; /* optional scroll */

    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    width: 408px;
    padding: 24px;
    z-index: 1;
    background-color: white;
    border-radius: 4px;
    transform: scale(0);
    transition: transform .8s;
    will-change: transform;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__form-fields > div:not(:last-child) {
    margin-bottom: 8px;
}

.modal__form-fields {
    margin-bottom: 24px;
}

.modal__form-title {
    margin-bottom: 16px;
}

.modal__form-input {
    all: unset;
    margin-left: 4px;
    width: 100%;
    font-size: 16px;
}

.modal__form-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
}

.modal__form-input-wrapper {
    width: 100%;
}

.modal__form-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    padding: 11px 16px;
    transition: 0.3s;
    will-change: transform;
}

.modal__form-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}


.modal__form-input-container:focus-within {
    border: 1px solid #4D5AE5;
}

.modal__form-input-container:focus-within .modal__form-icon {
    filter: invert(41%) sepia(75%) saturate(6248%) hue-rotate(230deg) brightness(96%) contrast(85%);
}


.modal__form-input-comment {
    height: 120px;
    border: 1px solid #2E2F4266;
    border-radius: 1px;
    padding: 11px 16px;
}

.modal__form-descript {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
}

.privacy-policy {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.privacy-policy a {
    color: #4D5AE5;
}

.privacy-policy a:visited {
    text-decoration: none;
}

#privacy-policy__checkbox {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid #2E2F4266;
    accent-color: #404BBF;
}

.privacy-policy__label {
    height: 100%;
    text-align: center;
    line-height: normal;
}

.optional-menu__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.optional-menu__wrapper .media-circles__wrapper {
    display: none;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
}

.modal__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    margin: 0 0 24px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.modal__close-btn span {
    position: absolute;
    width: 9px;
    height: 1px;
    background-color: #2E2F42;
}

.modal__close-btn span:nth-child(1) {
    transform: rotate(45deg);
}

.modal__close-btn span:nth-child(2) {
    transform: rotate(-45deg);
}

.modal__close-btn:active {
    background-color: #404BBF;
    border-color: #404BBF;
}

.modal__close-btn:active span {
    background-color: #ffffff;
}

.modal__form-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.main-content__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.pillars-card {
    width: 264px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.pillars-card__img {
    width: 264px;
    height: 112px;
    border-radius: 4px;
}

.main-card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.main-card__descript {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;

}

.main-content__wrapper {
    margin: 120px 156px;
    display: flex;
    flex-direction: column;
}

.main-title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
}

.activity-media {
    display: flex;
    justify-content: space-between;
}

.activity-media__img {
    width: 360px;
    height: 300px;
}

.team {
    background: #F4F4FD;
}

.team > div {
    padding: 120px 0;
}

.teammate-card {
    max-width: 264px;
    max-height: 428px;
    background: white;
    box-shadow: 0 2px 1px 0 #2E2F4214;
}

.universal-card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.teammate-card__img {
    width: 264px;
    height: 260px;
}

.teammate-card__fields {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    align-items: center;
}


.teammate-card__fields > div {
    flex: 1;
}

.teammate-card__fields > div:not(:last-child) {
    margin-bottom: 8px;
}


.customer-card {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-card:hover {
    border-color: #404BBF;
}

.customer-card:hover img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(78%) saturate(961%) hue-rotate(207deg) brightness(88%) contrast(99%);
}

.portfolio-cards__wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 360px); /* 3 columns, each 360px wide */
    grid-auto-rows: 420px; /* Each row is 420px tall */
    gap: 48px 24px; /* Gap between items */
}


.portfolio-card {
    border: 1px solid #E7E9FC;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s;
}

.portfolio-card__container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 360px;
    height: 300px;
}

.portfolio-card__overlay {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
}


.portfolio-card:hover .portfolio-card__overlay {
    transform: translateY(0); /* Move the top image up by its own height to overlap the bottom image */
}

.portfolio-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-menu > a:not(:last-child) {
    margin-right: 24px;
}

.portfolio-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
}

.portfolio-btn.active {
    border: none;
    color: white;
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px #0000001F,
    0px 3px 1px 0px #0000001A,
    0px 2px 1px 0px #00000014;

}

.portfolio-card:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214,
    0px 1px 1px 0px #2E2F4229,
    0px 1px 6px 0px #2E2F4214;
}

.portfolio-card__img {
    width: 100%;
}

.portfolio-card__fields {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}

.portfolio-card__fields > div {
    flex: 1;
}

.portfolio-card__fields > div:not(:last-child) {
    margin-bottom: 8px;
}


footer {
    width: 100%;
    min-height: 312px;
    background: #2E2F42;
    display: flex;
    position: relative;
    margin-top: auto;
}

.footer-wrapper {
    padding: 100px 156px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-wrapper__container {
    font-weight: 400;
    color: white;
    font-size: 16px;
}

.footer-legend {
    width: 264px;
    height: 112px;
    font-size: 16px;
}

.footer-title {
    font-weight: 500;
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}

.footer-subscribe {
    display: flex;
    flex-direction: row;
}

.footer-input {
    background-color: transparent;
    border: white 1px solid;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    width: 264px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    margin-right: 24px;
}

.footer-input::placeholder {
    color: white;
}

.footer-btn {
    width: 165px;
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
}

.media-circles__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 208px;
}

.media-circle {
    width: 40px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-circle:active {
    background: #31D0AA;
}


.media-icon {
    width: 24px;
    height: 24px;
}

.media-icon__mini {
    width: 16px;
    height: 16px;
}

/*burger*/
.header__burger-btn {
    display: none;
    position: relative; /*система координат*/
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2; /* помещаем кнопку выше */
    cursor: pointer; /* появляется "рука" */
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: #2E2F42;
    border-radius: 2px;
}


.header__burger-btn:hover span {
    background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) { /*для ребёнка этого класса*/
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) { /*для ребёнка этого класса*/
    transform: translateY(10px);
}


.header__burger-btn span:nth-child(1) { /*для ребёнка этого класса*/
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) { /*для ребёнка этого класса*/
    transform: translateY(10px);
}


/* tablet */
@media (max-width: 768px) {

    .intro-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .navbar {
        padding: 0 16px;
        justify-content: space-between;
    }

    .logo {
        flex: 1;
    }

    nav {
        margin: 0;
    }

    .navbar-link:last-child {
        margin-right: 0;
    }

    .optional-menu__wrapper {
        flex: 2;
    }

    .user-info {
        flex-direction: column;
        justify-content: space-between;
    }


    .user-info__field {
        font-size: 12px;
    }

    .main-content__wrapper {
        margin: 96px 16px;
        flex-wrap: wrap;
    }

    .pillars-card {
        height: auto;
        width: 356px;
        margin-bottom: 72px;
        justify-content: left;
    }

    #pillars-section {
        margin-bottom: -72px;
    }

    .pillars-card__img {
        visibility: hidden;
        display: none;
    }

    .main-card__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 8px;
    }

    .main-card__descript {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    .main-content__container {
        flex-wrap: wrap;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .user-info__field {
        margin-bottom: 12px;
    }

    .user-info__field:last-child {
        margin-bottom: 0;
    }

    .navbar {
        justify-content: space-between;
    }


    #activity-section {
        display: none;
    }

    .team {
        padding: 96px 108px;
    }

    #team-section {
        padding: 0;
        margin: 0 auto -64px auto;
    }

    .teammate-card {
        margin-bottom: 64px;
    }


    #customers-section {
        padding: 0 108px;
        gap: 72px 24px;
        justify-content: normal;
        margin: 0 -16px;
    }

    .portfolio-menu {
        margin-top: -32px;
        margin-bottom: 64px;
    }



    .footer-wrapper {
        padding: 96px 108px;
    }

    .footer-wrapper__container {
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .footer-wrapper__container:last-child {
        margin-bottom: 0;
    }
}

/*mobile*/
@media (max-width: 428px) {
    .header__burger-btn {
        display: block;
    }

    .optional-menu__wrapper {
        flex-direction: column;
        position: absolute; /*для того, чтобы двигать*/
        right: -100%;
        top: 0;
        padding-left: 40px;
        padding-bottom: 40px;
        width: 100%;
        align-items: normal;
        height: 100vh;
        background-color: white;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
        z-index: 3;
    }


    .optional-menu__wrapper .media-circles__wrapper {
        padding: 40px 40px 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: block;
        width: 100%;
        height: auto;
    }

    header.open .optional-menu__wrapper {
        transform: translateX(-100%);
        visibility: visible;
    }

    #burger-close-btn {
        display: flex;
        margin: 32px 32px 32px auto;
    }

    .user-info {
        flex-direction: column-reverse;
    }

    .user-info__field {
        margin: 0;
        padding: 0;
    }

    .user-info__field:last-child {
        margin: 0 0 40px 0;
    }

    #phone {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #4D5AE5;
    }

    .navbar-link {
        color: #2E2F42;
        display: flex;
        align-items: normal;
        justify-content: left;
        margin: 0;
        position: relative;
        text-decoration: none;
        transition: 0.2s;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
    }

    .navbar-link.active::after {
        display: none;
    }

    .navbar-link.active {
        color: #404BBF;
    }

    .pillars-card {
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .team {
        padding: 96px 82px;
    }

    #customers-section {
        padding: 0;
        gap: 72px 16px;
        justify-content: center;
        margin: 0 -8px;
    }


    .portfolio-cards__wrapper {
        display: flex;
        flex-direction: column;
    }

    .portfolio-menu {
        justify-content: left;
        gap: 16px 24px;
        flex-wrap: wrap;
    }

    .portfolio-menu > a:not(:last-child) {
        margin: 0;
    }

    .portfolio-card {
        max-width: 396px;
        min-height: 400px;
    }


    .footer-legend {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-wrapper {
        padding: 96px 15px;
        display: flex;
        justify-content: center;
    }

    .footer-wrapper__container {
        width: 100%;
        margin: 0 0 72px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-subscribe {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-input {
        width: 200%;
        margin: 0 0 16px 0;
    }
}

